.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article-card {
  width: calc(50% - 20px);
  margin: 8px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.article-card img {
  width: 100%;
  height: auto;
  display: block;
}

.article-info {
  padding: 15px;
}

.article-title {
  font-size: 1.1rem;
  margin: 0px;
}

.article-summary {
  font-size: 0.9rem;
  color: #000000;
}

.read-more {
  font-family: "El Messiri", sans-serif;
  display: inline-block;
  font-size: 11px;
  background-color: #000000;
  color: #ffffff;
  padding: 3px 6px;
  border-radius: 3px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: bold;
}

.read-more:hover {
  background-color: #333;
}